﻿@model IEnumerable<SnoopTestClientes.Models.Clientes>

@{
    ViewData["Title"] = "Index";
}

<h2>Crear Cliente</h2>

<p>
    <a asp-action="Create"><button class="btn btn-primary">Nuevo</button></a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
             <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Buscar" class="btn btn-default" />
            <a asp-action="Index">Todos los registros</a>
        </p>
    </div>
</form>




<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CLienteID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CLienteID">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.CLienteID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
